<div class='container'>
  <h2 class='add'>Edit this task</h2>
  <div class='form'>
    <%= form_for(@task) do |f|%>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :details %>
      <%= f.text_field :details %>
      <%= f.label :completed %>
      <%= f.check_box :completed %>
      <%= f.submit %>
    <% end %>
  </div>

    <div class='link'>
      <%= link_to index_path do %>
        <%= fa_icon 'solid rotate-left' %><span> Back to list</span>
      <% end %>
    </div>
</div>




