
<div class ='container'>
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
        <li>
            <% if task.completed %>
              <%= fa_icon "check" %>
            <% else %>
              <%= fa_icon "square" %>
            <% end %>
            <span class="title"><%= link_to task.title, task_path(task) %></span>
            <%= link_to destroy_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
              <span class='icon'><%= fa_icon 'solid trash can' %></span>
            <% end %>
        </li>
    <% end %>
  </ul>

  <div class='link'>
    <%= link_to tasks_new_path do %>
      <%= fa_icon 'solid circle plus' %><span> Add task</span>
    <% end %>
  </div>

</div>
