<div class='container'>


  <div class='task'>
    <h2><%= @task.title %></h2>
    <p><strong>Details:</strong> <%= @task.details %></p>
    <p><strong>Completed:</strong> <%= @task.completed %></p>

  </div>


  <div class='link'>
    <%= link_to index_path do %>
      <%= fa_icon 'solid rotate-left' %><span class='text-icon'> Back to list</span>
    <% end %>
    <%= link_to edit_path do %>
      <%= fa_icon 'solid pen' %><span> Edit task</span>
    <% end %>
</div>
